h1{
border-style: solid;
background-color: blanchedalmond;
padding-top: 50px;
padding-right: 30px;
padding-bottom: 50px;
padding-left: 30px;
}
dt{
font-size: 20px
}
dd{
font-size: 15px
}

th{
font-family: sans-serif;
}
h3{
background-color: cornflowerblue;
}
dd{
font-style: bold;
}